In [5]:
import pandas as pd
import numpy as np
import re

In [6]:
#acnur = pd.read_csv('poblacion_acnur.csv')

In [7]:
def load_data(file):
    data = pd.read_csv(file, encoding='utf8')
    df = pd.DataFrame(data)
    return df

In [8]:
acnur = load_data('poblacion_acnur.csv')

In [9]:
acnur.shape

(33684, 5)

In [10]:
acnur.columns

Index(['Year', 'Country / territory of asylum/residence', 'Origin',
       'Population type', 'Value'],
      dtype='object')

In [11]:
#Daba error por el caracter especial al momento de elegir columna, se reemplaza con diccionario

acnur['Value'].replace({'*': '0'}, inplace=True)

In [12]:
acnur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33684 entries, 0 to 33683
Data columns (total 5 columns):
Year                                       33684 non-null int64
Country / territory of asylum/residence    33684 non-null object
Origin                                     33684 non-null object
Population type                            33684 non-null object
Value                                      33684 non-null object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [13]:
acnur['Value'] = acnur['Value'].astype(int)

In [14]:
acnur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33684 entries, 0 to 33683
Data columns (total 5 columns):
Year                                       33684 non-null int64
Country / territory of asylum/residence    33684 non-null object
Origin                                     33684 non-null object
Population type                            33684 non-null object
Value                                      33684 non-null int32
dtypes: int32(1), int64(1), object(3)
memory usage: 1.2+ MB

In [15]:
#poblacion = acnur.groupby(by=['Origin', 'Year', 'Population type']).agg({'Value': [sum]})

origen = acnur.pivot_table(index=["Origin", "Population type"], columns=["Year"], values=["Value"], aggfunc=np.sum, fill_value=0)

origen.head()

                                                        Value           \
Year                                                     2016     2017
Origin      Population type
Afghanistan Asylum-seekers                             368957   334003
            Internally displaced persons              1797551  1837079
            Others of concern                          114221   448040
            Refugees (incl. refugee-like situations)  2501445  2624266
            Returned IDPs                                   0    32649


Year                                                     2018
Origin      Population type
Afghanistan Asylum-seekers                             310094
            Internally displaced persons              2106893
            Others of concern                          489859
            Refugees (incl. refugee-like situations)  2681232
            Returned IDPs                               73527

In [16]:
origen.columns = origen.columns.map('{0[0]}_{0[1]}'.format)

origen.head()

                                                      Value_2016  Value_2017  \
Origin      Population type
Afghanistan Asylum-seekers                                368957      334003
            Internally displaced persons                 1797551     1837079
            Others of concern                             114221      448040
            Refugees (incl. refugee-like situations)     2501445     2624266
            Returned IDPs                                      0       32649

                                                      Value_2018
Origin      Population type
Afghanistan Asylum-seekers                                310094
            Internally displaced persons                 2106893
            Others of concern                             489859
            Refugees (incl. refugee-like situations)     2681232
            Returned IDPs                                  73527

In [17]:
origen = origen.reset_index()

origen.head(10)

,Origin,Population type,Value_2016,Value_2017,Value_2018
0,Afghanistan,Asylum-seekers,368957,334003,310094
1,Afghanistan,Internally displaced persons,1797551,1837079,2106893
2,Afghanistan,Others of concern,114221,448040,489859
3,Afghanistan,Refugees (incl. refugee-like situations),2501445,2624266,2681232
4,Afghanistan,Returned IDPs,0,32649,73527
5,Afghanistan,Returned refugees,383951,60545,16220
6,Albania,Asylum-seekers,23787,18764,21066
7,Albania,Others of concern,1,1,0
8,Albania,Refugees (incl. refugee-like situations),11065,12176,13507
9,Algeria,Asylum-seekers,7162,6444,7419

In [18]:
origen.columns

Index(['Origin', 'Population type', 'Value_2016', 'Value_2017', 'Value_2018'], dtype='object')

In [19]:
origen = origen.rename(columns={'Value_2016': 2016, 'Value_2017': 2017, 'Value_2018': 2018})

origen.head()

,Origin,Population type,2016,2017,2018
0,Afghanistan,Asylum-seekers,368957,334003,310094
1,Afghanistan,Internally displaced persons,1797551,1837079,2106893
2,Afghanistan,Others of concern,114221,448040,489859
3,Afghanistan,Refugees (incl. refugee-like situations),2501445,2624266,2681232
4,Afghanistan,Returned IDPs,0,32649,73527

In [20]:
origen.to_csv('origen.csv', index=False)

In [21]:


acnur.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,2016,Aruba,Colombia,Asylum-seekers,1
1,2016,Aruba,Cuba,Refugees (incl. refugee-like situations),1
2,2016,Aruba,Venezuela (Bolivarian Republic of),Asylum-seekers,3
3,2016,Afghanistan,Afghanistan,Internally displaced persons,1797551
4,2016,Afghanistan,Afghanistan,Others of concern,114221

In [25]:
destino = acnur.pivot_table(index=["Country / territory of asylum/residence", "Population type"], columns=["Year"], values=["Value"], aggfunc=np.sum, fill_value=0)

destino.head()

#acnur['Country / territory of asylum/residence']

                                                                                     Value  \
Year                                                                                  2016
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                            16199102
                                        Internally displaced persons               1797551
                                        Others of concern                           114221
                                        Refugees (incl. refugee-like situations)  33159737
                                        Returned IDPs                                    0

                                                                                             \
Year                                                                                   2017
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                            610171022
                                        Internally displaced persons                1837079
                                        Others of concern                            448032
                                        Refugees (incl. refugee-like situations)   34175893
                                        Returned IDPs                                 32649


Year                                                                                      2018
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                            *5101217139*
                                        Internally displaced persons                   2106893
                                        Others of concern                               489854
                                        Refugees (incl. refugee-like situations)     34*72194*
                                        Returned IDPs                                    73527

In [26]:
destino.columns = destino.columns.map('{0[0]}_{0[1]}'.format)

destino.head()

                                                                                 Value_2016  \
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                             16199102
                                        Internally displaced persons                1797551
                                        Others of concern                            114221
                                        Refugees (incl. refugee-like situations)   33159737
                                        Returned IDPs                                     0

                                                                                 Value_2017  \
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                            610171022
                                        Internally displaced persons                1837079
                                        Others of concern                            448032
                                        Refugees (incl. refugee-like situations)   34175893
                                        Returned IDPs                                 32649

                                                                                    Value_2018
Country / territory of asylum/residence Population type
Afghanistan                             Asylum-seekers                            *5101217139*
                                        Internally displaced persons                   2106893
                                        Others of concern                               489854
                                        Refugees (incl. refugee-like situations)     34*72194*
                                        Returned IDPs                                    73527

In [27]:
destino = destino.reset_index()

destino.head()

,Country / territory of asylum/residence,Population type,Value_2016,Value_2017,Value_2018
0,Afghanistan,Asylum-seekers,16199102,610171022,*5101217139*
1,Afghanistan,Internally displaced persons,1797551,1837079,2106893
2,Afghanistan,Others of concern,114221,448032,489854
3,Afghanistan,Refugees (incl. refugee-like situations),33159737,34175893,34*72194*
4,Afghanistan,Returned IDPs,0,32649,73527

In [28]:
destino.to_csv('destino.csv', index=False)

In [ ]:
#destino = destino.rename(columns={'Country / territory of asylum/residence_': 'Country / territory of asylum/residence', 'Population type_': 'Population type','Value_2016': 2016, 'Value_2017': 2017, 'Value_2018': 2018}, inplace=True)

#destino.head()